<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>指标页</title>
  </head>
  <body>
    <noscript>请稍后...</noscript>
    <div id="<%= context.config.mountElementId %>"></div>
  </body>
</html>
